body{
    background-size: cover;

}

.disk_divs{
    float: right;
}

.disk_divs2{
    float: left;
}

.disk{
    border-radius: 100px;
    width: 200px;
}

.heading{
    font-size: 23px;
    margin: 0;
    width: 100%;
}

.note{
    color: black;
    font-size: 15px;
    inline-size: 150px;
    overflow-wrap: break-word;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
}
